<footer>
    <p class="font-family-pridi text-right mt-4 mr-3 font-weight-bolder" style="font-size: larger;">Copyright &COPY; <script>document.write(new Date().getFullYear())</script> All rights reserved | DEVELOPED BY SAZZADBIN</p>
</footer>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="animation.js">
</script>
</body>

</html>